# Note that not all variables here might be in use for your selected configuration

# Prisma
DATABASE_URL=mysql://root:@localhost:3306/your_db

# Next Auth
NEXTAUTH_SECRET=use_your_own_secret
NEXTAUTH_URL=http://localhost:3000

# Next Auth Discord Provider
DISCORD_CLIENT_ID=something
DISCORD_CLIENT_SECRET=something
